<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{~/css/main.css}">
    <title>Market City</title>
</head>