<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header (user)" class="header">
    <ul class="container">
        <div class="left">
            <li>
                <a href="/">MarketCity</a>
            </li>

            <li>
                <form action="/" method="get">
                    <input type="text" id="search" name="search" style="width: 100%"  placeholder="Search by name...">
                </form>
            </li>
        </div>


        <div class="right">
            <li class="profile" th:if="${user}">
                <a href="/profile">
                    <img class="avatar" th:src="${user.getAvatar_url()}" alt="user picture">
                    <b style="display: block" th:text="${user.name}">Misha</b>
                </a>
            </li>
            <li th:if="${user}">
                <a href="/logout">Log out</a>
            </li>
            <li th:unless="${user}">
                <a href="/login">Sign in</a>
                <span>  |  </span>
                <a href="/register">Register</a>
            </li>
        </div>
    </ul>
</header>
</html>