@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

body {
  background-color: #F6F4D2;
  color: #CBDFBD;

  margin: 0;
  padding: 0;

  font-family: 'Montserrat', sans-serif;
}

body .container {
  max-width: 980px;

  margin: 0 auto;
}

@media screen and (max-width: 980px) {
  body .container {
    max-width: 90% !important;
  }

  body .items .item .item-header {
    display: block !important;
  }

  body .item-full .right {
    visibility: hidden !important;
  }

  body .login {
    width: calc(100% - 60px) !important;
  }

  body .login-form {
    width: 100% !important;
  }
}

body .header {
  height: 80px;
  background-color: #D4E09B;
}

body .header ul {
  list-style: none;

  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

body .header ul li {
  display: inline-block;

  margin-right: 30px;
  color: #A44A3F;
}

body .header ul .right {
  display: flex;
  align-items: center;
}

body .header ul li.profile {
  display: flex;
  align-items: center;
}

body .header ul li.profile img {
  margin-right: 10px;
}

body .header ul li a {
  text-decoration: none;
  color: #A44A3F;

  transition: 0.05s ease-in;
}

body .header ul li a:hover {
  color: #F19C79;
}

body .header ul li img.avatar {
  width: 50px;
  border-radius: 100%;
}

body .items {
  margin-top: 50px;
}

body .items .item {
  background-color: #D4E09B;
  color: #A44A3F;

  margin-top: 35px;
  border: 3px solid #F6F4D2;
  padding: 15px;
  width: calc(50% - 36px);

  display: inline-block;
}

body .item-full {
  width: calc(100% - 30px);
  background-color: #D4E09B;
  color: #A44A3F;
  
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
}

body .comments {
  margin-top: 30px;
  width: calc(100% - 30px);
  background-color: #D4E09B;
  color: #A44A3F;
  
  padding: 15px;
}

body .login {
  margin-top: 30px;
  width: 45%;
  margin: 0 auto;
  background-color: #D4E09B;
  color: #A44A3F;
  
  padding: 15px;
}

body .comments .leave-form textarea {
  width: 100%;
  background-color: #CBDFBD;
}

body .login-form {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

body .comments .comment .comment-header {
  display: flex;
}

body .comments .comment .comment-header img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-right: 20px;
}

body .item-full .left,
body .item-full .right {
  display: inline-block;
}

body .item-full .left {
  width: 80%;
}

body .item-full .right {
  width: 19%;
  text-align: center;
}

body .item-full .right .avatar {
  border-radius: 100%;
  height: 100px;
  width: 100px;
}

body .profile-page {
  width: 100%;
  text-align: center;
}

body .profile-page .avatar {
  border-radius: 100%;
  height: 200px;
  width: 200px;
}

body .items .item .item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.items-list {
  display: flex;
  flex-wrap: wrap;
}

body .items .item .item-body img.preview {
  width: 100%;
}

body .items .item .item-body .description h4 {
  margin: 0;
}

body > div > div > div.item-full > div.left > div.item-body > img {
  width: 100%;
}

body .items .item .item-body .description {
  margin: 0;
}

body .items .item .item-body .description p {
  margin: 0px;
  overflow: hidden;
  height: 95px;
}

hr {
  border: 1px solid #A44A3F;
}

body .comments .comment {
  width: 100%;
  margin-top: 20px;
}

body .items .item .item-footer {
  display: flex;
  justify-content: flex-end;
}

.buttons button {
  height: 40px;
  width: 100%;
  background-color: #A44A3F;
  color: #D4E09B;
  border: 0;
  font-weight: 800;

  cursor: pointer;
}

body .items .item .item-footer .buttons button:hover {
  background-color: #F19C79;
  color: #F6F4D2;
}

body .footer {
  min-height: 100px;
}

body input {
  border: 1px solid #A44A3F;
  background-color: #CBDFBD;
  height: 30px;
}

body table img {
  max-width: 100px;
}

#last-visited {
  position: relative;
}
#last-visited-not-clickable {
  background-color: gray !important;
}

#main-sell-item {
  margin-top: 1em;
}