<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en" >
<head th:replace="fragments/head.html">
<body>
  <header th:replace="fragments/header.html :: header (${user})" />
  <div class="items">
    <div class="container">
      <div class="buttons" th:if="${lastVisitedItem}" >
        <a th:href="'/item/'+ ${lastVisitedItem}" >
          <button id="last-visited">Last Visited</button>
        </a>
      </div>
      <div class="buttons" th:unless="${lastVisitedItem}" >
        <button disabled id="last-visited-not-clickable">Last Viewed</button>
      </div>
      <div id="main-sell-item" class="buttons"  >
        <a href="/item" >
          <button>Sell Item</button>
        </a>
      </div>

      <div class="items-list">
        <div class="item" th:each="item : ${items}">
          <div class="item-header">
            <h3 th:text="${item.getTitle()}">Item title</h3>

            <p>
              Price:
              <i th:text="' $' + ${item.getPrice()} ">$10.99</i>
            </p>
          </div>

          <div class="item-body">
            <img class="preview" th:src="${item.getImage_url()}" alt="image of an item" />

            <div class="description">
              <p th:text="${item.getDescription()}"></p>
            </div>

            <br />
            <hr />

            <div class="item-footer">
              <div class="buttons">
                <a th:href="'/item/' + ${item.getId()}">
                  <button>View...</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <footer th:replace="fragments/footer.html :: footer"></footer>

</body>

</html>