<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en" >
<head th:replace="fragments/head.html">
<body>
  <header th:replace="fragments/header.html :: header (${user})" />
  <div class="items">
    <div class="container">
      <div class="item-full">
        <div class="left">
          <div class="item-header">
            <h3 th:text="${item.title}">Washing machine</h3>
  
            <p>
              Price:
              <i th:text="${item.price}">$10.99</i>
            </p>
          </div>
  
          <div class="item-body">
            <img class="preview" th:src="${item.image_url}">
          
            <div class="description" th:text="${item.description}">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium sit vel eveniet tempora suscipit. Similique maiores vel, amet voluptatibus quo ducimus consequatur. Dicta obcaecati quas deserunt atque tempora ea, tempore est perspiciatis voluptates sequi perferendis, ut facilis non. Placeat voluptas mollitia itaque tempore esse labore, unde accusantium quidem. Ad, possimus adipisci maiores architecto voluptates mollitia, illo accusantium natus repellendus distinctio perferendis similique illum rem quasi eum nisi, modi recusandae voluptatum eveniet ipsam molestiae aliquid eos. Nobis, dignissimos. Vero dignissimos quam earum! Praesentium enim corporis asperiores veniam dolor? Libero perferendis, voluptatem possimus sed odio officia adipisci dolorum laudantium alias vel quaerat!</p>
            </div>
          </div>
        </div>
        <div class="right">
          <h2 th:text="${itemOwner.getName()}">Mikle</h2>
          <img class="avatar" th:src="${itemOwner.getAvatar_url()}">
          <p>Item owner</p>
          <p th:text="${itemOwner.phoneNumber}">+31 8321 31231 321</p>
        </div>
      </div>

      <div class="comments">
        <div class="leave-form">
          <form action="/comment" name="addComment" method="post">
            <textarea name="text" id="" cols="30" rows="10"></textarea>

            <hr>
            <div class="buttons">
              <button type="submit">Send</button>
            </div>
          </form>
        </div>
      </div>

      <div class="comments" th:each="comment : ${item.getCommentsArrayList()}">
        <div class="comment">
          <div class="comment-header">
            <img class="avatar" th:src="${comment.getUserPicture()}">
            <h3 th:text="${comment.getUsername()}">User name</h3>
          </div>

          <div class="comment-body" th:text="${comment.getText()}">
            Hello!
          </div>

          <hr>


          <div class="comment-footer">
            <div class="buttons" th:if="${user != null and user.getId() == comment.getUserId()}">
              <a th:href="@{/comment/delete/{path}(path=${comment.getId()})}">
                <button type="submit">Delete</button>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <footer th:replace="fragments/footer.html :: footer"></footer>

</body>
</html>