<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/head.html">
<body>
  <header th:replace="fragments/header.html :: header (${user})"></header>
  <div class="items">
    <div class="container">
      <div class="login">
        <div class="login-form" >
          <div th:if="${errormessage}">
            <h2 th:text="${errormessage}">Error message</h2>
          </div>
          <form name='login-form' action="login" method='POST'>
            <h3>Username</h3>
            <input type='text' name='username' required>

            <h3>Password</h3>
            <input type='password' name='password' required/>

            <hr>
            <div class="buttons">
              <button name="submit" type="submit" value="submit">Login</button>


            </div>
            </form>
          <br/>
          <a class="buttons" th:href="@{/register}">
            <button>Register</button>
          </a>
        </div>
      </div>
    </div>
  </div>

<footer th:replace="fragments/footer.html :: footer"></footer>
</body>
</html>