<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en" >
<head th:replace="fragments/head.html">
<body>
  <header th:replace="fragments/header.html :: header (${user})"></header>
  <div class="items">
    <div class="container">
      <div class="item-full">
        <div class="profile-page">
          <h2 th:text="${user.getName()}">Mikle</h2>
          <img class="avatar" th:src="${user.getAvatar_url()}">
          <p >Your info:</p>
          <form action="/profile" method="post">
            <input type="text" name="name" th:value="${user.getName()}" placeholder="Name">
            <br />
            <input type="text" name="phoneNumber" th:value="${user.getPhoneNumber()}" placeholder="Phone number">
            <br />
            <hr>
            <div class="buttons">
              <button type="submit" >Save</button>
            </div>
          </form>


          <hr>

          <h3>My items</h3>

          <table style="width:100%">
            <tr>
              <th>Image</th>
              <th>Title</th>
              <th>Price</th>
            </tr>
            <tr th:each="item : ${user.getItemsArrayList()}">
              <td>
                <img th:src="${item.getImage_url()}" alt="">
              </td>
              <td>
                <a th:href="'/item/' + ${item.getId()}" th:text="${item.getTitle()}"></a>
              </td>
              <td th:text="'$' + ${item.getPrice()}"></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <footer th:replace="fragments/footer.html :: footer"></footer>

</div>
</body>
</html>