<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html">
<body>
  <header th:replace="fragments/header.html :: header (${user})"></header>
  <div class="items">
    <div class="container">
      <div class="login">
        <div class="login-form">

          <form name='register-form' action="register" method='POST'>
            <div class="message" th:if="${errormessage}">
              <h2 th:text="${errormessage}">Error message</h2>
            </div>

            <h3>Username</h3>
            <input type="text" name="login" required>

            <h3>Real name</h3>
            <input type="text" name="name" required>

            <h3>Avatar URL</h3>
            <input type="text" name="avatar_url" required>
            <h3>Phone number</h3>
            <input type="text" name="phoneNumber" required>

            <h3>Password</h3>
            <input type="password" name="password" required>

            <h3>Repeat password</h3>
            <input type="password" name="repeatPassword" required>

            <hr>
            <div class="buttons">
              <button name="submit" type="submit" value="submit">Register</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

<footer th:replace="fragments/footer.html :: footer"></footer>

</body>
</html>